.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar {
    background-color: #003F5C !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.content {
    padding-top: 8px;
}

.footer {
    background-color: #003f5c8c;
    text-align: center;
    padding: 10px;
    color:white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}